<header><h1>Factions</h1></header>
<div class="button-row">
  <button (click)="navigateTo('/factions/castle')">Castle</button>
  <button (click)="navigateTo('/factions/rampart')">Rampart</button>
  <button (click)="navigateTo('/factions/tower')">Tower</button>
</div>
<div class="button-row">
  <button (click)="navigateTo('/factions/inferno')">Inferno</button>
  <button (click)="navigateTo('/factions/necropolis')">Necropolis</button>
  <button (click)="navigateTo('/factions/dungeon')">Dungeon</button>
</div>
<div class="button-row">
  <button (click)="navigateTo('/factions/stronghold')">Stronghold</button>
  <button (click)="navigateTo('/factions/fortress')">Fortress</button>
  <button (click)="navigateTo('/factions/conflux')">Conflux</button>
</div>

<router-outlet></router-outlet>
