<header><h1>Factions</h1></header>
<div><a routerLink="/factions/castle">Castle</a></div>
<div><a routerLink="/factions/rampart">Rampart</a></div>
<div><a routerLink="/factions/tower">Tower</a></div>
<div><a routerLink="/factions/inferno">Inferno</a></div>
<div><a routerLink="/factions/necropolis">Necropolis</a></div>
<div><a routerLink="/factions/dungeon">Dungeon</a></div>
<div><a routerLink="/factions/stronghold">Stronghold</a></div>
<div><a routerLink="/factions/fortress">Fortress</a></div>
<div><a routerLink="/factions/conflux">Conflux</a></div>
<router-outlet></router-outlet>
