.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  font-family: "MagicFont", sans-serif;
  font-size: 16px;
  background-color: #4b0082;
  border: 2px outset #a020f0;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  margin: 0 5px;
  padding: 60px;
  border-radius: 15px;

  &:hover {
    background-color: #7b68ee;
  }

  &:active {
    border-style: inset;
  }
}

h1 {
  font-family: "MagicFont", sans-serif;
  text-align: center;
  font-size: 60px;
}
