<header><h1>Creature Dwellings</h1></header>
<div><a routerLink="castle-dwelling">Castle Dwellings</a></div>
<div><a routerLink="rampart-dwelling">Rampart Dwellings</a></div>
<div><a routerLink="tower-dwelling">Tower Dwellings</a></div>
<div><a routerLink="inferno-dwelling">Inferno Dwellings</a></div>
<div>
  <a routerLink="necropolis-dwelling">Necropolis Dwellings</a>
</div>
<div><a routerLink="dungeon-dwelling">Dungeon Dwellings</a></div>
<div>
  <a routerLink="stronghold-dwelling">Stronghold Dwellings</a>
</div>
<div><a routerLink="fortress-dwelling">Fortress Dwellings</a></div>
<div><a routerLink="conflux-dwelling">Conflux Dwellings</a></div>
<div><a routerLink="neutral-dwelling">Neutral Dwellings</a></div>
<router-outlet></router-outlet>
