<header><h1>Creature Dwellings</h1></header>
<div class="button-row">
  <button
    (click)="navigateTo('/adventure/structures/dwellings/castle-dwelling')"
  >
    Castle
  </button>
  <button
    (click)="navigateTo('/adventure/structures/dwellings/rampart-dwelling')"
  >
    Rampart
  </button>
  <button
    (click)="navigateTo('/adventure/structures/dwellings/tower-dwelling')"
  >
    Tower
  </button>
</div>
<div class="button-row">
  <button
    (click)="navigateTo('/adventure/structures/dwellings/inferno-dwelling')"
  >
    Inferno
  </button>
  <button
    (click)="navigateTo('/adventure/structures/dwellings/necropolis-dwelling')"
  >
    Necropolis
  </button>
  <button
    (click)="navigateTo('/adventure/structures/dwellings/dungeon-dwelling')"
  >
    Dungeon
  </button>
</div>
<div class="button-row">
  <button
    (click)="navigateTo('/adventure/structures/dwellings/stronghold-dwelling')"
  >
    Stronghold
  </button>
  <button
    (click)="navigateTo('/adventure/structures/dwellings/fortress-dwelling')"
  >
    Fortress
  </button>
  <button
    (click)="navigateTo('/adventure/structures/dwellings/conflux-dwelling')"
  >
    Conflux
  </button>
</div>
<div class="button-row">
  <button
    (click)="navigateTo('/adventure/structures/dwellings/neutral-dwelling')"
  >
    Neutral
  </button>
</div>

<router-outlet></router-outlet>
