<header><h1>Structures</h1></header>
<div class="button-row">
  <button (click)="navigateTo('/adventure/structures/att-modifiers')">
    Attribute Modifiers
  </button>
  <button (click)="navigateTo('/adventure/structures/banks')">
    Creature Banks
  </button>
  <button (click)="navigateTo('/adventure/structures/dwellings')">
    Creature Dwellings
  </button>
</div>
<div class="button-row">
  <button (click)="navigateTo('/adventure/structures/mines')">Mines</button>
  <button (click)="navigateTo('/adventure/structures/travel-misc')">
    Travel and Miscellaneous
  </button>
  <button (click)="navigateTo('/adventure/structures/treasures')">
    Treasures
  </button>
</div>

<router-outlet></router-outlet>
